{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Yannick
                <span class="text-primary">Honoré</span>
            </h1>
            <div class="subheading mb-5">
                13 allée Thomas 59220 Denain. 06 16 41 20 95
                <a href="mailto:yannick@yhonore.fr">yannick@yhonore.fr</a>
            </div>
            <p class="lead mb-5">Suite à une reconversion, je suis actuellement à la recherche d'un emploi en tant que développeur web et web-mobile de préférence avec le framework Symfony.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/yannick-honore" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/yannickHonore" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Expérience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Développeur web</h3>
                    <div class="subheading mb-3">Communauté d'Agglomération de la Porte du Hainaut (CAPH) / Développeur Web (Raismes 59)</div>
                    <p>Développement et mise en production d'une application web Symfony permettant de faire de la gestion de bien matériel et mobilier (inventaire, formulaire de demande de prêt «panier», etc...).</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Avril 2022 - Aout 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Dessinateur étude 1</h3>
                    <div class="subheading mb-3">Assystem France (Valenciennes 59)</div>
                    <p>Concepteur en B.E. sur CATIA V4 et CATIA V5. Concevoir, modéliser et faire les plans de fabrication d'outillages en aéronautique, pièces automobiles ou ferroviaires.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Juillet 206 - Février 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Technitien B.E.</h3>
                    <div class="subheading mb-3">Sermoule (Rambouillet 78)</div>
                    <p>Réaliser des plans de fabrication d'outillages sur CATIA V4 et concevoir les programmes d'usinages à commande numérique.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Mars 2005 - Juin 2006</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Professeur d’atelier</h3>
                    <div class="subheading mb-3">Lycée Louis GIRARD (Malakoff 92)</div>
                    <p>Professeur d'atelier pour des élèves de B.E.P. Modelage et de classes 3° technologique.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Novembre 2003 - Juin 2004</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Technicien de Fabrication</h3>
                    <div class="subheading mb-3">Adia (Louviers 27)</div>
                    <p>Opérateur électro-érosion pour des outillages de découpe chez HMG.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Juin 2003 - Novembre 2003</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Formation</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">WebForce3</h3>
                    <div class="subheading mb-3">Développeur Web et Web mobile</div>
                    <p>HTML/CSS, responsive desing, bootstrap, Ux et Ui desing, SEO, JavaScript, Jquery, Wordpress, SQL, php, Symfony et Opquast.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Novembre 2021 - Mars 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Formadis</h3>
                    <div class="subheading mb-3">Devenir un développeur JAVA</div>
                    <p>Obtention du certificat de formation devenir un développeur Java, les fondements, les fondements de la programmation orienté objet, Java 9, Hibernate, Spring, la gesion du multithread, la programmation reseau avec Java.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Novembre 2020 - Mars 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">OpenClassrooms</h3>
                    <div class="subheading mb-3">Développeur d’application spécialité Java EE</div>
                    <p>Obtention du certificat intégrateur web, organiser et packager une application avec Maven, développer des sites avec Java EE, bootstrap, HTML/CSS, modéliser une base de données relationnelle avec UML, gestion de projet agile, analyse logicielle avec UML, l'objet avec Java, les projets Java, l'algorithmes, Git et GitHub, concevoir un site web avec PHP et MySQL.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Février 2019 - Mars 2020</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Lycée Val de Garonne</h3>
                    <div class="subheading mb-3">BTS E.R.O.</div>
                    <p>Apprentissage de conception et fabrication d'outillage de mise en forme des matériaux. Maîtrise CATIA V4 et connaissance CATIA V5.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Septembre 2000 - Juin 2002</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Lycée Eugène RONCERAY</h3>
                    <div class="subheading mb-3">BAC PRO OMFM option moules métalliques</div>
                    <p>Apprentissage de fabrication de moule d'injection plastique, mention Assez bien.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Septembre 1998 - Juin 2000</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Lycée Honoré PONS</h3>
                    <div class="subheading mb-3">BEP Microtechnique</div>
                    <p>Apprentissage de fabrication de pièces de petite taille.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Septembre 1998 - Juin 2000</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Compétences</h2>
            <div class="subheading mb-3">Langages de programmation & outils</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5" title="HTML 5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt" title="CSS 3"></i></li>
                <li class="list-inline-item"><i class="fab fa-bootstrap" title="CSS 3"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square" title="JavaScript"></i></li>
                <li class="list-inline-item"><i class="fab fa-php" title="PHP"></i></li>
                <li class="list-inline-item"><i class="fab fa-symfony" title="Symfony"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress" title="Wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-java" title="Java-ee"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Conception responsive
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Analyse logicielle avec UML
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    IDE Visual Studio Code
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Pédagogue
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Persévérant
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Patient
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Esprit d'équipe
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Astronomie
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Informatique
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Gestion de réseau
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Programmation de site internet
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Configuration et déploiement de machines virtuelles
                </li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}
